@{
    ViewData["Title"] = "公司佈告欄";
    Layout = "_LayoutRearEnd";
}

<style>
    .privacy-policy-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

        .privacy-policy-container p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }
</style>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="privacy-policy-container">
    <p>
        這裡放公司要傳達的資料
    </p>

</div>

