@{
    ViewData["Title"] = "歡迎您";
    Layout = "_LayoutStart";
}



<section>
    <div class="wave"></div>
</section>

<div class="welcome-message">
    <a asp-action="Privacy" class="">歡迎前往易物平台</a>
</div>


