@{
    ViewData["Title"] = "站長的話";
}

<style>
    .privacy-policy-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

        .privacy-policy-container p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }
</style>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="privacy-policy-container">
    <p>
        歡迎您的到來，這裡是站長學習網頁設計的成果，雖然沒甚麼好看的，但願能在這裡得到些什麼。<br>
        <br>
        祝福你，陌生人。
    </p>

</div>

