@model BarterPlatform.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutRearEnd";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* 要傳訊息的一定要打enctype="multipart/form-data" 否則不能用 *@
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IteID" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IteImage" class="control-label"></label>
                <input type="file" class="form-control" name="uploadPhoto" id="uploadPhoto">
                <div id="photoPreview">
                    @if (Model.IteImage != null && Model.IteImage.Length > 0)
                    {
                        <img src="data:image;base64,@Convert.ToBase64String(Model.IteImage)" width="400" />
                    }
                </div>
                <span asp-validation-for="IteImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IteDesc" class="control-label"></label>
                <input asp-for="IteDesc" class="form-control" />
                <span asp-validation-for="IteDesc" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="UploadTime" class="control-label"></label>
                <input asp-for="UploadTime" class="form-control"/>
                <span asp-validation-for="UploadTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bargain" /> @Html.DisplayNameFor(model => model.Bargain)
                </label>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Member_MemID" class="control-label" style="display: none;"></label>
                <select asp-for="Member_MemID" class="form-control" asp-items="ViewBag.Member_MemID"></select>
                <span asp-validation-for="Member_MemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //圖片預覽
        $('#uploadPhoto').change(function () {
            let file = this.files[0];

            let reader = new FileReader();

            reader.onload = event => {
                $('#photoPreview').html(`<img src="${event.target.result}" width="400" />`);
            };
            reader.readAsDataURL(file);
        });
    </script>
}
