@model BarterPlatform.Models.Employee

@{
    ViewData["Title"] = "員工註冊";
    Layout = "_LayoutRearEnd";
}

<h1>@ViewData["Title"]</h1>

<h4>請按照規定填妥資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" placeholder="請填妥大寫字母 + 七個數字" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalName" class="control-label"></label>
                <input asp-for="PersonalName" class="form-control" />
                <span asp-validation-for="PersonalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" placeholder="取一個暱稱吧~"/>
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" placeholder="請輸入'男'、'女'、'其他'" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date"/>   @* 格式改成date *@
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminRegion_AdmID" class="control-label"></label>
                <select asp-for="AdminRegion_AdmID" class="form-control" asp-items="ViewBag.AdminRegion_AdmID">
                    <option disabled selected>請選行政區</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="District_DisID" class="control-label"></label>
                <select asp-for="District_DisID" class="form-control" asp-items="ViewBag.District_DisID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OtherAddress" class="control-label"></label>
                <input asp-for="OtherAddress" class="form-control" />
                <span asp-validation-for="OtherAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="包含各一個大寫字母、小寫字母、符號和數字" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalID" class="control-label"></label>
                <input asp-for="NationalID" class="form-control" />
                <span asp-validation-for="NationalID" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="TermDate" class="control-label"></label>
                <input asp-for="TermDate" class="form-control" />
                <span asp-validation-for="TermDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // 監聽 AdminRegion_AdmID 下拉列表的變化
        document.getElementById("AdminRegion_AdmID").addEventListener("change", function () {
            var selectedAdmID = this.value;
            // 發送 Ajax 請求以獲取對應的 District_DisID
            $.ajax({
                url: '/Members/GetDistrictDisID',
                type: 'POST',
                data: { selectedAdmID: selectedAdmID },
                success: function (data) {
                    // 清空 District_DisID 下拉列表中的選項
                    $('#District_DisID').empty();
                    // 添加新的選項
                    data.forEach(function (district) {
                        $('#District_DisID').append($('<option>', {
                            value: district.value,
                            text: district.text
                        }));
                    });
                }
            });
        });

    </script>
}
